/save/
/save_all/
/errorrate_all.xlsx
/Experiment-B.xlsx
/Experiment-C.xlsx
/data_culex_stigmatosoma/
/UCR_TS_Archive_2015/
/source-code-icdm14.jar
/Testresult.java
/ICDM2014.zip
/res-complete/
/result.log
/save_All/
/result_all.log
