/UCR_TS_Archive_2015/
/save/
/bin/

/bin1/
/er_from_output.sh
/ICDM2014.zip
/Models.xlsx
/oup.txt
/run.jar
/Runlog.log
/source-code-icdm14.jar
/tmp
/train_test_cv.docx
/~$Models.xlsx
/Exp_result/
/PUDATA/
/outensemble/
/res-complete/
/tmpfile/
